<section class="mh-blog" id="mh-blog">
    <div class="container">
        <div class="row section-separator">
            <div class="col-sm-12 section-title wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
                <h3>Projects</h3>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="mh-blog-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                    <img src="assets/images/ai-project.png" alt="" class="img-fluid">
                    <div class="blog-inner">
                        <h2><a href="https://github.com/KJMcDaniels/DevOps-Pipeline-for-CI-CD">DevSecOps Pipeline & Custom API Integration</a></h2>
                        <div class="mh-blog-post-info">
                            <ul>
                                <!-- <li><strong>Post On</strong><a href="#">24.11.19</a></li> -->
                                <!-- <li><strong>By</strong><a href="#">ThemeSpiders</a></li> -->
                            </ul>
                        </div>
                        <p>AI-Chatbot integration utilizing Vercel, custom APIs, and Cloud DevSecOps pipeline.</p>
                        <!-- <div class="tech-stack">
                            <div class="tech-thumbnail"><i class="devicon-react-original-wordmark tech-thumbnail"></i>
                            </div>
                            <div class="tech-thumbnail"><i class="devicon-python-plain-wordmark"></i></div>
                            <div class="tech-thumbnail"><i class="devicon-flask-original-wordmark colored"></i></div>
                            <div class="tech-thumbnail"><i class="devicon-mysql-plain-wordmark"></i></div>
                            <div class="tech-thumbnail"><i class="devicon-docker-plain-wordmark tech-thumbnail"></i>
                            </div>
                            <div class="tech-thumbnail"><i class="devicon-azure-plain-wordmark tech-thumbnail"></i>
                            </div>
                        </div> -->
                        <a href="https://github.com/Op-Design/T-Project">Github</a> <br>
                        <!-- <a href="http://3.12.162.112">Live Site</a> -->
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="mh-blog-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                    <img src="assets/images/PXL_20231101_221712456-500X664px.jpg" alt="" class="img-fluid">
                    <div class="blog-inner">
                        <h2><a
                                href="https://www.linkedin.com/posts/oolaleye_afrotech23-austintech-diversityintech-activity-7125889308862861312-Z3JB?utm_source=share&utm_medium=member_desktop">Robotic
                                Bartender</a></h2>
                        <div class="mh-blog-post-info">
                            <ul>
                                <!-- <li><strong>Post On</strong><a href="#">24.11.19</a></li> -->
                                <!-- <li><strong>By</strong><a href="#">ThemeSpiders</a></li> -->
                            </ul>
                        </div>
                        <p>AI-driven cocktail making and dispensing system developed in collaboration eith Boozed-AI.
                        </p>
                        <div class="tech-stack">
                            <div class="tech-thumbnail"><i class="devicon-react-original-wordmark tech-thumbnail"></i>
                            </div>
                            <div class="tech-thumbnail"><i class="devicon-python-plain-wordmark"></i></div>
                            <div class="tech-thumbnail"><i class="devicon-flask-original-wordmark colored"></i></div>
                            <div class="tech-thumbnail"><i class="devicon-mysql-plain-wordmark"></i></div>
                            <div class="tech-thumbnail"><i class="devicon-docker-plain-wordmark tech-thumbnail"></i>
                            </div>
                            <div class="tech-thumbnail"><i class="devicon-azure-plain-wordmark tech-thumbnail"></i>
                            </div>
                        </div>
                        <a
                            href="https://www.linkedin.com/posts/oolaleye_afrotech23-austintech-diversityintech-activity-7125889308862861312-Z3JB?utm_source=share&utm_medium=member_desktop">Post</a>
                        <br>
                        <a href="https://www.boozed.ai/">More Info</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="mh-blog-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                    <img src="assets/images/T-Project-400X225px.jpg" alt="" class="img-fluid">
                    <div class="blog-inner">
                        <h2><a href="https://github.com/Op-Design/T-Project">T-Project</a></h2>
                        <div class="mh-blog-post-info">
                            <ul>
                                <!-- <li><strong>Post On</strong><a href="#">24.11.19</a></li> -->
                                <!-- <li><strong>By</strong><a href="#">ThemeSpiders</a></li> -->
                            </ul>
                        </div>
                        <p>BETA energy savings and transition tool to help advise individual homeowners on energy
                            transition options</p>
                        <div class="tech-stack">
                            <div class="tech-thumbnail"><i class="devicon-python-plain-wordmark"></i></div>
                            <div class="tech-thumbnail"><i class="devicon-django-plain-wordmark"></i></div>
                            <div class="tech-thumbnail"><i class="devicon-javascript-plain"></i></div>
                            <div class="tech-thumbnail"><i class="devicon-mysql-plain-wordmark"></i></div>
                            <div class="tech-thumbnail"><i class="devicon-amazonwebservices-plain-wordmark"></i></div>
                            <div class="tech-thumbnail"><i class="devicon-bootstrap-plain-wordmark"></i></div>
                        </div>
                        <a href="https://github.com/Op-Design/T-Project">Github</a> <br>
                        <a href="http://3.12.162.112">Live Site</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="assets/js/custom-scripts.js"></script>