<section class="mh-testimonial" id="mh-testimonial">
    <div class="home-v-img">
        <div class="container">
            <div class="row section-separator">
                <div class="col-sm-12 section-title wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
                    <h3>Reacommendations</h3>
                </div>
                <div class="col-sm-12 wow fadeInUp" id="mh-client-review" data-wow-duration="0.8s"
                    data-wow-delay="0.3s">
                    <div class="each-client-item">
                        <div class="mh-client-item dark-bg black-shadow-1">
                            <img src="assets/images/recommendations/1583014640502-100x100px.jpg" alt="" class="img-fluid">
                            <p>
                                Ope is able take disparate information to find a path forward on a solution to the problem at hand. He has the fundamentals to work on problems either on his own or with others. Ope is willing to help others on the team, which is important for making sure everyone succeeds.
                            </p>
                            <h4>Christopher Calloway</h4>
                            <span>Software Engineer at Itential</span>
                        </div>
                    </div>
                    <div class="each-client-item">
                        <div class="mh-client-item dark-bg black-shadow-1">
                            <img src="assets/images/recommendations/1625077759516-100x100px.jpg" alt="" class="img-fluid">
                            <p>
                                Opeyemi tackles new challenges with both daring and thoughtfulness.
                                This was made clear to me when we worked together on a project to revamp the parts database of our drafting suite. Though the path forward was unfamiliar to him, Ope reasoned out the steps, verified them with subject matter experts, and engaged stakeholders. All the while, he identified opportunities for efficiency and improvement and flagged potential issues.
                                His ability to communicate effectively and engage those around him, coupled with his very strong analytical skills and work ethic, make Ope a valuable addition to any team. I would recommend Opeyemi without hesitation for any stretch opportunity that presents itself.
                            </p>
                            <h4>Ed Horn</h4>
                            <span>Software Product Manager at Automated Logic Corporation</span> <br>
                        </div>
                    </div>
                    <div class="each-client-item">
                        <div class="mh-client-item dark-bg black-shadow-1">
                            <img src="assets/images/recommendations/1579278263091-100x100px.jpg" alt="" class="img-fluid">
                            <p>
                                If a picture is worth a thousand words take a look at Opey's LinkedIn photo and you will get an unvarnished sense of his character. He is super bright AND one of the friendliest young men I have had the pleasure of working with. He proved himself to be a natural leader in a very short period of time and clearly possesses the keen thirst for knowledge so badly needed for success in the computer science space. In closing, I saw him as an excellent critical thinker and would tell anyone to please hire him. You will not be disappointed.
                            </p>
                            <h4>Jeff Tyler</h4>
                            <span>CEO, Supply Chain, Veteran</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="assets/js/custom-scripts.js"></script>